<div class="container">
  <div class="card mt-4">
    <div class="card-body">

      <div class="row d-flex">
        <div class="col-md-10">
          <input #inputFile (change)="onChange($event)" accept=".xlsx, .xlsm, .xlsb, .xltx" class="form-control" type="file" />
        </div>
        <div class="col-md-2 d-flex justify-content-end">
          <button (click)="removeData()" class="btn btn-danger">Remove Data</button>
        </div>
      </div>

      <div *ngIf="IsNotExcelFile" class="tx-danger">This is not an Excel file !</div>

      <span *ngIf="spinnerEnabled" class="k-i-loading k-icon"></span>

      <div class="table-responsive mt-5">
        <table class="table">
          <th *ngFor="let key of keys">
            {{key}}
          </th>
          <tr *ngFor="let item of dataSheet | async">
            <td *ngFor="let key of keys">
              {{item[key]}}
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>